@page "/loja/produtos"
@using WinglyShopAdmin.App.Components.Shop.Products
@using WinglyShopAdmin.App.Models.Shop.Products

@attribute [Authorize]

@* <div class="card mt-4">
    <h4 class="card-header">Pagina de Produtos</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
    </div>
</div> *@

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid>
        <!-- Card - List - Products -->
        @if (SelectedProduct is null)
        {
            <MudItem md="12"
                     sm="12"
                     xs="12">
                <ProductsListCard ProductsList="ProductsList" SelectedProductChanged="HandleSelectedProduct" />
            </MudItem>
        }
        else
        {
            <MudItem md="8"
                     sm="8"
                     xs="8">
                <ProductsListCard ProductsList="ProductsList" SelectedProductChanged="HandleSelectedProduct" />
            </MudItem>
        }

        <!-- Product information (When Clicked) -->
        @if (SelectedProduct is not null)
        {
            <MudItem md="4"
                     sm="4"
                     xs="4">
                <MudPaper Outlined=true>
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar Rounded="true" Color="Color.Secondary">@SelectedProduct?.Description[0]</MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5">@SelectedProduct?.Description</MudText>
                                <MudText Typo="Typo.body2">@SelectedProduct?.CategoryDescription</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" OnClick="CloseSelectedProductCard" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                            <MudGrid>
                                <MudItem md="6" sm="6" xs="6">
                                    <MudText Typo="Typo.body2">Preço: R$ @SelectedProduct?.Price</MudText>
                                </MudItem>
                                <MudItem md="6" sm="6" xs="6">
                                    <MudText Typo="Typo.body2">Estoque: @SelectedProduct?.HasStockString()</MudText>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                        <MudDivider />
                        <MudCardActions>
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" OnClick="@(() => EditProductNavigation(SelectedProduct))"/>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Default" OnClick="@(() => DeleteProduct(SelectedProduct))"/>
                        </MudCardActions>
                    </MudCard>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</MudContainer>
